*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height: 50px;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    overflow: auto;
    z-index: 10000000;    
}
.header img{
    height: 50px;
    width: 70px;
    border-radius: 25%;
    margin-left: 120px;
    margin-right: 400px;
    float: left;
}
.header .navbar{
    float: left;
}
.header .navbar li{
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}
.header .navbar li a{
    color: red;
    text-decoration: none;
    padding: 12px; 
    display: block;
    position: relative;
}
.navbar li a::after{
    position: absolute;
    content: "";
    width: 0px;
    height: 4px;
    bottom: 4px;
    left: 0;
    background-color: blue;
    opacity: 0;
    transition: 0.5s;
}
.navbar li a:hover::after{
    width: 100%;
    height: 4px;
    opacity: 1;
}
.section1{
    height: 100vh;
    width: 100%;/* width: 1340px; */
    background-image: url(../images/ddd.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    background-size: cover;
    position: relative;
}
.section1-overlay{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.section1-content{
    width: 60%;
    /* hero image code*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
}
.section1 h2{
    color: white;
    font-size: 55px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;/*'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
}
.section1 p{
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 15px 0px;
}
.section1 .button{
    height: 50px;
    width: 140px;
    border-radius: 6px;
    font-size: 17px;
    font-weight:500;
    border: hidden;
    text-transform: capitalize;
    margin-right: 12px;
}
.section1 .button2{
    background-color: blue;
    color: white;
}
.button:hover{
    opacity: 0.5;
}
/* ///////////////////////////////////////////////////////////section2 welcome to website/////////////////////////////////////////////// */
.welcome-container{
    height: 750px;
    width: 80%;
    margin: auto;
}
.welcome-title{
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 100px;
}
.welcome-line{
    width: 70px;
    height: 4px;
    background-color: blue;
    margin: auto;
    margin-top: 10px;/* margin-top: -25px; */
}
.welcome-content{
    overflow: auto;
}
.welcome-item{
    width: 30%;/* height: 210px; */
    border: 2px solid gray;
    text-align: center;
    float: left;
    margin-top: 100px;
    margin-bottom: 200px;
    padding: 20px 15px;
    position: relative;
}
.second-div1{
    margin:100px 5% 0px 5%;
}
.welcome-item::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgba(12, 11, 11, 0.9);
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
}
.welcome-item:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.9;
}
.welcome-item:hover h4{
    color: white;
}
.welcome-item i{
    color: rgb(8, 121, 250);
    font-size: 27px;
}
.welcome-item a{
    color: rgb(4, 110, 231);
    font-size: 20px;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 35px;
}
.welcome-item h4{
    color: black;
    font-size: 25px;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 40px;
}
.welcome-item p{
    color: gray;
    font-size: 18px;
    line-height: 20px;
}
/* ////////////////////////////////////////////section3 featured works////////////////////////////////////////////////////////////////// */
.featured-body{
    background-color: rgb(236, 234, 234);/*rgb(206, 206, 252);*/
    width: 100%;
    height: 1000px;
}
.featured-container{
    width: 80%;
    margin: auto;/* background-color: blue; */
}
.featured-title{
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 100px;
}
.featured-line{
    width: 70px;
    height: 4px;
    background-color:blue;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
}
.featured-content{
    overflow: auto;
    width: 100%;
}
.featured-item{
    float: left;
    width: 25%;
    text-align: center;
    margin-top: 50px;
    padding: 15px;
    position: relative;
}
.second-div2{
    margin:50px 12.5% 0px 12.5%;
}
.featured-img{
    background-color: white;
    margin: auto;

}
.featured-img img{
    width: 80%;
}
.featured-overlay h4{
    color: royalblue;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 100;
    line-height: 25px;
}
.featured-overlay p{
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
}
.featured-overlay a{
    background-color: royalblue;
    height: 50px;
    width: 50px;
    font-size: 23px;
    padding: 10px;
}
.featured-overlay a i{
    color: rgb(59, 8, 110);
    line-height: 50px;
}
.featured-overlay{
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;right: 0; left: 0; bottom: 0;
    /* width: 100%; */
    /* height: 100%;   */
    text-align: center;
    padding-top: 100px;
    visibility: hidden;
    opacity: 0;
}
.featured-item:hover .featured-overlay{
    visibility: visible;
    opacity: 1;
}
/* ///////////////////////////////////////////////////////////section4 what we offer/////////////////////////////////////////////////// */
.offer-body{
    width: 100%;
    height: 680px;
}
.offer-container{
    width: 80%;
    margin: auto;/* background-color: blue; */
}
.offer-title{
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 100px;
}
.offer-line{
    width: 70px;
    height: 4px;
    background-color:blue;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
}
.offer-content{
    overflow: auto;
}
.offer-item{
    height: 210px;
    width: 30%;
    border: 2px solid gray;
    text-align:center;   
    float: left;
    margin-top: 20px;
    padding: 30px 30px;
    overflow: auto;
    position: relative;
}
.second-div3{
    margin:20px 5% 0px 5%;
}
.offer-item::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgba(12, 11, 11, 0.9);
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
}
.offer-item:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.9;
}
.offer-item:hover  h4{
    color: white;
}
.offer-item i{
    float: left;
}
.offer-item i{
    color: rgb(8, 121, 250);
    font-size: 30px;
    float: left;
    margin-right: 20px;
}

.offer-item p{
    float: left;
    color: gray;
    font-size: 15px;
    line-height: 25px;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 55px;
    margin-top: 5px;
}
.offer-item h4{
    color: black;
    font-size: 25px;
    text-transform: capitalize;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 40px;
    float: left;
}
/* ////////////////////////////////////////////////////////////////section5 why choose us///////////////////////////////////////////////// */
.choose-body{
    background-color: rgb(236, 234, 234);/*rgb(206, 206, 252);*/
    width: 100%;
    height: 680px;
}
.choose-container{
    width: 80%;
    margin: auto;/*background-color: blue;*/
}
.choose-content{
    overflow: auto;
    width: 100%;
}
.choose-item{
    width: 45%;
    float: left;
    margin-top: 120px;

}
.choose-item .choose-title{
    text-transform: capitalize;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.choose-item .choose-line{
    width: 70px;
    height: 4px;
    background-color:blue;
    margin-top: 10px;
    margin-bottom: 50px;
}
.choose-item .reason{
    color: gray;
    font-size: 20px;
    line-height: 25px;
}
.choose-item .choose-reason-list{
    line-height: 30px;
    margin-top: 15px;
}
.choose-reason-list i{
    color: rgb(8, 121, 250);
    font-size: 20px;
}
.choose-reason-list li{
    color: gray;
    font-size: 18px;
}
.choose-img{
    background-color: white;
    width: 100%;
    text-align: center;
    margin-left: 5%;/* margin-right: 5%; */
}
.choose-img-list{
    margin-left:50%;
}
.choose-img-list .first-img{
    background-color: royalblue;
    border-color: royalblue;
}
.choose-img-list li{
    height: 10px;
    width: 10px;
    list-style-type: none;
    background-color: gray;
    border: 2px solid gray;
    border-radius: 50%;
    display: inline-block;
    margin: 10px 5px 0px 5px
}
.choose-img-list li:hover{
    background-color: royalblue;
    border-color: royalblue;
}
/* ///////////////////////////////////////////////////////////////section6 number items////////////////////////////////////////////////// */
.number-items-body{
    width: 100%;
    height: 340px;
    background-image: url(../images/eee.jpeg);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
} 
.number-items-body-overlay{
    background-color: rgba(12, 11, 11, 0.7);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.number-items-container{
    width: 80%;
    margin: auto;
}

.number-items-content{
    overflow: auto;
}
.number-items-item{
    width: 25%;
    text-align: center;
    float: left;
    margin-top: 120px;
}
.number-items-item i{
    color: rgb(8, 121, 250);
    font-size: 28px;
    line-height: 50px;   
}
.number-items-item h4{
    font-size: 28px;
    color: white;
}
.number-items-item p{
    font-size: 20px;
    color: white;
}
/* //////////////////////////////////////////////////////////section7 pricing table//////////////////////////////////////////////////////// */
.pricing-body{
    width: 100%;
    height: 700px;
    background-color: rgb(236, 234, 234);;
}
.pricing-container{
    width: 80%;
    margin: auto;
}
.pricing-title{
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 100px;
}
.pricing-line{
    width: 70px;
    height: 4px;
    background-color:blue;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
}
.pricing-content{
    overflow: auto;
}
.pricing-item{
    width: 30%;
    text-align: center;
    border: 1px solid gray;
    float: left;
    margin-top: 50px;
    padding: 30px 0px;
    position: relative;

}
.second-div4{
    margin: 50px 5% 0px 5%;
}
.pricing-item h4{
    color: gray;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 100;
    line-height: 30px;
}
.pricing-item:hover h4{
    color: red;
}
.pricing-item .pricing-price{
    width: 100px;
    height: 100px;
    font-size: 40px;
    font-weight: 900;
    border: 2px solid royalblue;
    border-radius: 50%;
    margin: auto;
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
}
.pricing-item:hover .pricing-price{
    color: red;
}
.pricing-item h5{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    margin-top: -35px;
    line-height: 30px;
    margin-bottom: 30px;
}
.pricing-item:hover h5{
    color: red;
}
.pricing-item .pricing-info{
    color: gray;
    font-size: 18px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.pricing-item .pricing-button{
    height: 30px;
    width: 150px;
    text-align: center;
    border: 2px solid royalblue;
    margin-top: 15px;
}
.pricing-item::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgba(12, 11, 11, 0.7);
    opacity: 0;
    transition: 0.5s;
}
.pricing-item:hover::before{
    width: 100%;
    height: 100%;
    opacity: 0.7;
}
/*////////////////////////////////////////////////////////////section8 test/////////////////////////////////////////////////////////////////*/
.test-body{
    width:100%;
    height: 340px;
    background-image: url(../images/0-2.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
.test-body-overlay{
    background-color: rgba(12, 11, 11, 0.7);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.test-container{
    width: 60%;
    margin: auto;
}
.test-content{
    overflow: auto;
}
.test-item{
    width: 45%;
    float: left;
    color: white;
    margin-top: 120px;/* background-color: rgb(68, 67, 67); */
}
.second-div5{
    margin: 120px 0% 0px 10%;
}
.test-item-title{
    overflow: auto;
}
.test-item-title .test-item-title-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    float: left;
}
.test-item-title .test-item-title-heading{
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    line-height: 25px;
}
.test-item-title-heading h4{
    font-size: 23px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
.test-item-title-heading h5{
    color: royalblue;
    font-size: 15px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
.test-item-info{
    margin-top: 10px;
    margin-left: 15px;
    line-height: 20px;
}
.test-item-info .test-item-info-p1{
    text-transform: capitalize;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
/* /////////////////////////////////////////////////////////section9 our team//////////////////////////////////////////////////////////// */
.team-body{
    width: 100%;
    height: 550px;
}
.team-container{
    width: 80%;
    margin: auto;/* background-color: blue; */
}
.team-title{
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 100px;
}
.team-line{
    width: 70px;
    height: 4px;
    background-color:blue;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
}
.team-content{
    overflow: auto;
}
.team-item{
    width: 30%;
    background-color: rgb(175, 174, 174);
    float: left;
    margin-top: 50px;
    text-align: center;
    padding: 20px 15px 0px 15px;
    position: relative;
}
.second-div6{
    margin: 50px 5% 0px 5%;
}
.team-img{
    width: 90%;
    margin: auto;
    position: relative;
}
.team-img img{
    width: 100%;
}
.team-overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}
.team-item:hover .team-overlay{
    visibility: visible;
    opacity: 1;
}
.team-overlay a{
    width: 40px;
    height: 40px;
    background-color: rgb(8, 121, 250);
    display: block;
    font-size: 23px;
    color: white;
    margin-left: auto;
}
.team-overlay a i{
    line-height: 40px;
}
.team-item::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgba(12, 11, 11, 0.7);
    opacity: 0;
    transition: 1s;
}
.team-item:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.7;
}
.team-info{
    margin: 10px 0px;
}
.team-info-title{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    line-height: 30px;
}
.team-info-sp1{
    color: gray;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
}
.team-item:hover .team-info-title{
    color: white;
}
.team-item:hover .team-info-sp1{
    color: blue;
}
/* /////////////////////////////////////////////////////////section10 recent news////////////////////////////////////////////////////////// */
.news-body{
    width: 100%;
}
.news-container{
    width: 90%;
    margin: auto;
    background-color: rgb(236, 234, 234);
}
.news-title{
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 100px;
}
.news-line{
    width: 70px;
    height: 4px;
    background-color:blue;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 70px;
}
.news-content{
    overflow: auto;
}
.news-item{
    width: 30%;
    background-color: white;
    float: left;
    padding: 0px 25px 25px 25px;
    position: relative;
}
.news-item::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    right: 0;
    background-color: rgba(8, 121, 250, 0.7);
    opacity: 0;
    transition: 1s;
}
.news-item:hover::before{
    width: 100%;
    height: 100%;
    opacity: 0.7;
}
.second-div7{
    margin: 0px 5% 0px 5%;
}
.news-item-img-info{
    margin-top: 30px;
}
.news-item-img-info i{
    color: rgb(8, 121, 250);
    font-size: 12px;
}
.news-item-img-info span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-transform: capitalize;
    margin-right: 10px;
}
.news-item-info{
    margin-top: 20px;
}
.news-item-title{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.news-item-info p{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    margin-bottom: 25px;
}
.news-item-info a{
    text-decoration: none;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(8, 121, 250);
}
/* ///////////////////////////////////////////////////////////////section11 the footer////////////////////////////////////////////////////// */
.footer-body{
    width: 100%;
    background-color: rgba(79, 79, 85, 0.993);
}
.footer-content{
    width: 36%;
    margin: auto;
    text-align: center;
    padding: 50px 0px;
}
.footer-img{
    width: 150px;
    height: 70px;
}
.footer-icons{
    margin: 10px 0px;
}
.footer-icons a{
    width: 50px;
    height: 50px;
    background-color: rgb(95, 169, 255);
    border-radius: 50%;
    color: white;
    font-size: 23px;
    display: inline-block;
    position: relative;
}
.footer-icons a i{
    line-height: 50px;
}
.footer-icons a:hover{
    background-color: rgb(9, 69, 233);
}
.footer-sp1{
    color: rgb(143, 142, 142);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
